<!doctype html> {% load static %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">

    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }
        
        .active,
        .accordion:hover {
            background-color: #ccc;
        }
        
        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        
        .active:after {
            content: "\2212";
        }
        
        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }
    </style>
    <title>Jquery nih!!</title>
</head>

<body>
    <p id="intro">Pengen Tau Sesuatu?</p>

    <button class="accordion">Aktivitas</button>
    <div class="panel">
        <p>Kuliah</p>
        <p>Ngerjain PPW</p>
        <p>Refreshing</p>
        <p>Tidur</p>
    </div>

    <button class="accordion">Pengalaman Organisasi/Kepanitiaan</button>
    <div class="panel">
        <p>Dewan Perwakilan Mahasiswa Fasilkom</p>
        <p>Tim Robotik UI</p>
        <p>KSM Eka Prasetya</p>
    </div>

    <button class="accordion">Prestasi</button>
    <div class="panel">
        <p>Juara umum di hatinya dia</p>
        <p>Gold Medal IOI dalam mimpi</p>
        <p>Juara 3 lomba makan krupuk 17-an</p>
    </div>


    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>

    <input type="button" class="warna1" name="warna" value="Hitam" onClick="warna('black'); tulis('white')" ;/>
    <input type="button" name="warna" value="Putih" onClick="warna('white'); tulis('black')" ;/>
    <script>
        function warna(color) {
            document.body.style.background = color;
        }

        function tulis(tulisan) {
            document.getElementById('intro').style.color = tulisan;
        }
    </script>
</body>

</html>