html {
    scroll-behavior: smooth;
    height: 100%;
}

#intro {
    font-size: 50px;
    font-family: comic sans;
    color: Black;
    text-align: center;
    padding-top: 2cm;
}

.warna1 {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 900px) {
    #intro {
        font-size: 30px;
        padding-top: 2cm;
    }
}